body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale;   unknown property, delcaration dropped */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ClickableOnHover p:hover, img:hover{
  cursor: pointer;
}

.ClickableOnHover p{
  font-size: 13px !important;
}

.finite-box {
  height: 50px; /* Adjust the height as needed */
  width: auto;
  overflow: hidden;
}

.finite-box p {
  padding: 5px; /* Adjust the padding as needed */
}

.debug{
  border: 1px solid black !important;
}

.less-opacity{
  opacity: 75%;
}

.movie-card{
  margin: 5px;
  width: 180px !important;
  height: 340px !important;
  background-color: transparent !important; 
  /* border: 2px solid black !important; */
  border: 0px solid black !important; 

  /*Every thing is hardcoded, don't look at me*/

  transition: transform .15s, filter .5s; /* Animation */
}

.movie-card:hover{
  transform: scale(1.1);
  filter: brightness(0.8);
}

.genre-box{
  height: 200px; /* Adjust the height as needed */
  width: auto;
  overflow: hidden;
  border: 1px solid black !important;
  background-color: transparent !important; 
  border-radius: 12px;
  margin-top: 70px;
  right: 10%;
}

.card-no-margin{
  height: 200px; /* Adjust the height as needed */
  width: auto;
  overflow: hidden;
  border: 1px solid black !important;
  background-color: transparent !important; 
  border-radius: 12px;
}

.genre-box p {
  padding: 5px; /* Adjust the padding as needed */
}

.rate-movie-box{
  background-color: transparent !important; 
  margin-top: 250px;
  border-radius: 12px;
  right: 10%;
  transition: .1s;
}

.center-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-div p{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rate-movie-box:hover{
  cursor: pointer;
  background-color: #ededed !important;
}

.detailed-movie-card{
  width: 300px !important;
  height: 420px !important;
}

.card-img {
  width: 150px !important;
  height: 210px !important;

/* 
  the default is w150, h210
  but for some reson that still make a very solid quadratic square
  */
}

.no-border{
  border: 0px !important;
}

.inline-p-1{
  display: inline;
  margin-left: 125px;
  /* the margin of these are sensitive, don't touch */
}
.inline-p-2{
  display: inline;
  margin-left: 135px;
}

.to-front{
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 10;
}

.rate-star{
  font-size: 30px;
  color: rgb(255, 204, 0);
  cursor: pointer;
}

.pointer-on-hover:hover{
  cursor: pointer;
}

.pills{
  margin: 2px;
  padding: 5px !important;
  border-radius: 20px !important;
  color: #282c34;
  font-size: 10px !important;
}

.personSearchCard{
  object-fit: contain !important;
  height: 100% !important;

  border-radius: 16px 0px 0px 16px;
  float: left;
}